body {
    margin: 0px;
}
#Logo {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    object-position: 50% 25%;
}

#Jordan {
    object-fit: cover;
    object-position: 50% 35%;
    width: 100%;
    max-height: 500px;
}

li.Active a {
    text-decoration: underline;
    
}

.Active {
    text-decoration: underline;
}

nav {
    background-color: black;
    
}

nav a {
    text-decoration: none;
    color: white;
}

nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px auto;
    max-width: 800px;
}

nav > ul > li {
    padding: 12px;
    background-color: black;
   
}

nav > ul > li:first-child {
    margin-right: auto;
}

nav > ul > li a:hover{
    background-color: rgb(69, 63, 63);
}

.dropdown {
    position: relative;
}

.dropdown ul {
    
    list-style-type: none;
    padding: 0px;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    transition:    
        opacity 0.5s,
        visibility 0.5s,
        top 0.5s;
}

.dropdown ul li {
    background-color: black;
    padding: 12px;
    width: 150px;
}

.dropdown:hover ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.dropdown ul li a {
    background-color: rgb(0, 0, 0);
    display: inline-block;
    padding: 10px;
    width: 100px;
}

main img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 25%;
}

a img {
    width: 150px;
}

.textAndImage {
    align-items: center;
    display: flex;
    margin: 24px auto;
    max-width: 800px;
}

.textBlock {
    flex: 1;
    margin: 24px;
}

.imageBlock {
    flex: 1;
}

.imageBlock img {
    border-radius: 10px;
    width: 100%;
    
}

@media screen and (max-width:768px) {
    nav > ul {
        flex-direction: column;
        align-items: center;
    }

    .dropdown:hover ul {
        opacity: 0;
        visibility: hidden;
    }

    nav > ul > li:first-child {
        margin-right: 0px;
    }

    .textAndImage {
        flex-direction: column;
    }

    .imageBlock,
    .textBlock {
        order: 2;
    }

    .textAndImage .imageBlock:last-child {
        order: 1;
    }
}










