#main{
    background-color: lavender;
    margin: 50px 30px;
    padding: 50px 20px;
}

#intro{
    padding-bottom: 20px;
}

#content{
    color: white;
    background-color:#6b5acd;
    border: 5px solid darkblue;
    padding: 20px;
    margin: 20px 0;

}

#content div{
    padding:5px;
}

#content .quote{
    margin-left: 36px;
}

.quoteContent{
    margin: 5px;
    padding-left: 10px;
}

.quoteCitation{
    margin: 5px;
    padding-left: 40px;
}

#footer{
    padding-top: 20px;
}