.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#new {
    background-color: red;
    color: white;
    border-radius: 17px;
    margin: 0.5rem 1rem;
    padding: 0.2rem 0.5rem;
}

#price {
    margin-right: 16px;
}