/* Google Font API imports - found at https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*****************************************************************************
  Heading, Link, and Misc. Styles
*****************************************************************************/
* {
  box-sizing: border-box;
}


div h2 {
  margin-top: 50px;
  text-align: center;
  align-items: center;
}

div p {
  padding: 24px;
  
}

body {
  margin: 0;
}

h1,
h2,h3 {
  font-family: 'Lobster';
}

h4,
p {
  font-family: 'Assistant', sans-serif;
}

h1 {
  font-size: 60px;
  margin-bottom: 0;
}

h3 {
  text-align: center;
}

h5 {
  font-family: 'Lobster';
  font-size: 50px;
}

h4 {
  font-size: 18px;
  margin-top: 4px;
}

a {
  text-decoration: none;
}

nav,
nav a,
footer a {
  color: #e1a177;
}

nav a:hover,
footer a:hover {
  color: #e1a177;
  text-decoration: underline;
}

footer ul {
  padding: 50px;
}

/* .glider {
  background-image: url("../assets/images/abstractBackground.jpg");
  background-attachment: fixed;
  height: 300px;
} */

/****************************************************************************
  Grid styles
****************************************************************************/
#siteGrid {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
    "navArea navArea navArea"
    "heroArea heroArea heroArea"
    ". contentArea ."
    "footerArea footerArea footerArea";
}
nav {
  grid-area: navArea;
}
#hero {
  grid-area: heroArea;
}
#contentContainer {
  grid-area: contentArea;
}
footer {
  grid-area: footerArea;
}


/****************************************************************************
  Nav/Footer styles
****************************************************************************/
nav h2 img {
  width: 150px;
}

nav {
  align-items: center;
  display: flex;
  margin: 0 24px;
}

footer {
  display: flex;
  justify-content: center;
}

#navLinks {
  justify-content: center;
}

#navLinks,
.socialMedia {
  display: flex;
  list-style-type: none;
}

#navLinks li,
.socialMedia li {
  padding: 0 4px;
}

nav .socialMedia {
  justify-content: flex-end;
  padding-left: 0;
}

.socialMedia i {
  font-size: 20px;
}

nav,
nav a,
footer a {
  color: rgb(0, 0, 0);
}

nav a:hover,
footer a:hover {
  text-decoration: underline;
}

nav ul,
nav h2 {
  flex: 1;
  margin: 0;
  padding: 0;
}


/****************************************************************************
  Hero styles
****************************************************************************/

#hero {
  /* background-color: indigo; */
  height: 80vh;
  background-image: url("../assets/images/img_3013.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

#hero h1 {
  padding-top: 100px;
  font-size: 100px;
  color: white;
}

#hero h3 {
  font-size: 45px;
  color: white;
}

.flexbox img {
  border-radius: 25px;
}

.flexbox {
  display: flex;
  height: 300px;
  margin: 100px;
  
}

/****************************************************************************
  Link styles
****************************************************************************/

#hero a,
.card a {
  background-color:#e1a177;
  color: rgb(255, 255, 255);
  border: 2px solid #e1a177;
  border-radius: 24px;
  display: inline-block;
  padding: 8px 16px;
  margin-top: 12px;
  min-width: 150px;
  transition: transform 0.25s;
}

#hero a:hover,
.card a:hover {
  transform: scale(1.05);
  background-color: #e1a177;
  border-color: #e1a177;
  color: white;
}

/****************************************************************************
  Card styles
****************************************************************************/
div a {
  justify-content: baseline;
}

.threeCards,
.twoCards {
  display: flex;
}

.flashicard5 {
  background-image: url("../assets/images/pexels-alexander-igrevsky-5013099.jpg");
  background-position: center center;
  background-size: cover;
  color: rgb(255, 255, 255);
  
}

.flashicard4 {
  /* text-shadow: 0px 0px 2px black; */
  background-image: url("../assets/images/foxfarm.jpg");
  background-position: center center;
  background-size: cover;
  color: rgb(255, 255, 255);
  
}

.flashicard3 {
  background-image: url("../assets/images/fox3.jpg");
  background-position: center center;
  background-size: cover;
  color: rgb(255, 255, 255);
  
}

.flashicard2 {
  background-image: url("../assets/images/priscilla-du-preez-I-zSrQnLlX0-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  color: white;
}

.flashicard:hover,
.flashicard2:hover,
.flashicard3:hover,
.flashicard4:hover,
.flashicard5:hover {
  filter: blur(0.35px);
}

.flashicard {
  background-image: url("../assets/images/karsten-wurth-lsJ9jHKIqHg-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
}

.card {
  border-radius: 24px;
  border: 2px solid #e1a177;
  /* color: rgb(0, 0, 0); */
  margin: 48px 24px 24px;
  padding: 12px 12px 24px;
  text-align: center;
  box-shadow: 4px 4px 8px 0px grey;
  flex: 1;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card p {
  font-size: 18px;
  min-height: 100px;
}

/****************************************************************************
  Gallery styles
****************************************************************************/
#gallery {
  text-align: center;
}

/****************************************************************************
  Carousel Styles
****************************************************************************/
#carouselExampleCaptions {
  text-align: center;
  box-shadow: 4px 4px 8px 0px grey;
}

.market h3 {
  margin-top: 50px;
}

.coffee {
  margin:50px;
}

#carouselExampleAutoplaying {
  text-align: center;
  box-shadow: 4px 4px 8px 0px grey;
}

/****************************************************************************
  Media Query - Mobile Breakpoint
****************************************************************************/
@media screen and (max-width: 1000px) {
  #siteGrid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navArea"
      "heroArea"
      "contentArea"
      "footerArea";
  }

  nav,
  .threeCards,
  .twoCards {
    flex-direction: column;
  }

  nav h2,
  nav ul {
    margin: 4px 0;
  }

  /* .flexbox{
    flex-direction: column;
  } */

}
