*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #fafafa;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas: 
        ". header ."
        ". content .";
}

header {
    grid-area: header;
    padding: 48px;
    text-align: center;
}

#formContainer {
    background-color: rgb(237, 237, 237);
    border: 2px solid #b4b4b4;
    grid-area: content;
    padding: 38px;
    border-radius: 25px;
}

form label {
    display: block;
    font-weight: bold;
    margin: 8px 0px;

}

form input[type=text],
form textarea,
form select {
    padding: 12px;
    width: 100%;
    margin-bottom: 16px;
    background-color: ligh;
}

option:disabled {
    color: rgb(226, 226, 226);
}

textarea::placeholder {
    color: blue;
}

form input[type=submit] {
    background-color: #92eb92;
    padding: 16px 24px;
    border: 0px;
    border-radius: 4px;
    color: black;
    min-width: 175px;
    font-weight: bold;
    box-shadow: 0px 0px 5px black;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border-color: red;
    box-shadow: 0px 0px 16px red;
    animation: invalidWiggle 0.75s infinite;
}

input[type=text] {
    background-color: skyblue;
}
/* input:invalid {
    border-color: red;
    box-shadow: 0px 0px 16px red;
    animation: invalidWiggle 0.75s infinite;
} */

@keyframes invalidWiggle {
    0%, 100% {
        transform: translateX(0px) rotate(0deg);
        background-color: white;
    }

    25%{
        transform: translateX(-15px) rotate(10deg);
        background-color: red;
    }

    75% {
        transform: translateX(15px) rotate(-10deg);
        background-color: yellow;
    }
}