*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #fafafa;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas: 
        ". header ."
        ". content .";
}

header {
    grid-area: header;
    padding: 48px;
    text-align: center;
}

#formContainer {
    background-color: white;
    border: 2px solid #dfdfdf;
    grid-area: content;
    padding: 38px;
    border-radius: 25px;
}

form label {
    display: block;
    font-weight: bold;
    margin: 8px 0px;

}

form input[type=text],
form textarea,
form select {
    padding: 12px;
    width: 100%;
    margin-bottom: 16px;
}

option:disabled {
    color: lightgray;
}

textarea::placeholder {
    color: blue;
}

form input[type=submit] {
    background-color: #92eb92;
    padding: 16px 24px;
    border: 0px;
    border-radius: 4px;
    color: balck;
}