body{
    font-family: sans-serif;
    background-color: #DEDEDE;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas: 
        ". header ."
        ". content .";
}

header {
    grid-area: header;
    padding: 48px;
    text-align: center;
}

#formContainer {
    background-color: white;
    border: 2px solid gray;
    grid-area: content;
}