@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

img{
    width: 200px;
    float:right;
    
}

#Cover{
    float: right;
    font-size: small;
    margin-bottom: 20px;
}

#Content{
    background-color: lightgrey;
    padding: 15px;
    border: 2px solid grey;
    margin-right: 300px;
    float: left;

}

#Dracula{
    font-weight: lighter;
    font-style: italic;
}

#SubH4{
    font-weight:normal;
    font-family: 'Montserrat';
}

img{
    float: right;
    width: 200px;
}

#Vlad{
    font-size: small;
    float: right;
    margin-bottom: 20px;
}

#TextualHistory{
    font-weight: lighter;
}

#sidebar{
    
    border: 2px solid grey;
    padding: 10px;
}