@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

img{
    width: 200px;
    
}

#Cover{
    background-color: rgba(210, 244, 243, 0.236);
    float: right;
    font-size: small;
    margin: 10px;
    text-align: center;
}

#Content{
    background-color: rgba(210, 244, 243, 0.236);
    padding: 15px;
    border: 2px solid grey;
    margin-right: 300px;
    width: 250px;
    

}

#Dracula{
    font-weight: lighter;
    font-style: italic;
}

#SubH4{
    font-weight:normal;
    font-family:Arial, Helvetica, sans-serif;
}


#Vlad{
    background-color: rgba(210, 244, 243, 0.236);
    border: 2px solid lightgray;
    font-size: small;
    float: right;
    margin: 15px;
    width: 210px;
    padding: 3px;
}

#TextualHistory{
    font-weight: lighter;
}

#sideBar{
    
    border: 2px solid grey;
    padding: 10px;
}

#Paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    
}

strong{
    font-style: italic;
}

#Heading{
    font-weight: lighter;
}

li{
    color: rgb(66, 81, 245);
}

#Content1{
    color: rgb(66, 81, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

color{
    color: rgb(66, 81, 245);
}